.title {
  text-align: center;
  font-size: x-large;
}
.text {
  text-align: center;
}
.img {
  display: block;
  clear: both;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
}
.secret {
  text-align:center;
  background-color: black;
  color: black;
  transition:all 0.15s linear;
}
.secret:hover {
  color:white;
}
.hint {
  color:silver;
}
